.dim{
background-color: bisque;
}
.part{
    background-color: antiquewhite;
}
    

#google{
    
    color: blueviolet;
    
}
#website{
    color: blue;
}
#goto{
    color: blue;
}
#goback{
    color: blue;
}